@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7; 
  color: #333;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.bg-image {
  background-image: url(/images/theater.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 100px;
  background-blend-mode: overlay; /* 上に置く */
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}

.top-container {
  height: 330px;
}

.site-title {
  text-align: center;
  font-size: 3rem;
  padding-top: 1.5rem;
  font-family: "Oswald", serif;
  color: #ef1818;
}

.site-title a:link, .site-title a:visited, .site-title a:hover, .site-title a:active {
  color: #ef1818;
}

.container p {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  letter-spacing: .2em;
  transition: .3s;
}

.btn:hover {
  opacity: 0.7;
}

.container .btn {
  background-color: #0e00ec;
  margin-top: 40px;
}

/* ログイン画面 */
.login-container {
  padding-bottom: 2.5rem;
}

.alert {
  background-color: #f8d7da;
  margin: 20px 50px 0;
  border-radius: 5px;
  text-align: start;
  padding: 10px 30px;
  font-size: 0.9rem;
}

/* ヘッダーレイアウト------------------------------------- */
.header {
  background-color: #6c757d;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-title {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: middle; /* 行内要素やテーブルセル要素の垂直方向 */
  color: #fff;
  margin-right: 15px;
}

.header-link {
  margin: 0 0 0 10px;
  font-size: .9rem;
  color: #fff;
}

.header-right {
  display: flex;
  align-items: center;
  color: #fff;
}

.user-disp {
  margin-right: 20px;
  font-size: .9rem;
}

.user-disp strong {
  margin-right: 3px;
}

.logout {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.logout:hover {
  background-color: #fff;
  color: #333;
  transition: .3s;
}

/* ユーザートップページ -----------------------------------*/
.user-top {
  margin-top: 50px;
}

.user-top h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.app-desp {
  width: 1000px;
  margin: 0 auto;
  border: solid 1px #eeebeb;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px #e9e6e6;
  overflow: hidden;
}

.app-desp h5 {
  font-size: 1.3rem;
  padding: 3px 20px;
  line-height: 2.6rem;
  background-color: #0b5ed7;
  color: #fff;
}

.app-desp .app-desp-list {
  padding: 16px;
}

.app-desp-list ul {
  list-style-type: square;
}

.app-desp-list ul li {
  list-style-position: inside;
  padding: 8px 16px;
  border-bottom: 1px solid #dee2e6;
}

.app-desp-list ul li:last-child {
  border-bottom: none;
}

/* ---------------------------------------------- */

.login-form {
  text-align: start;
  padding: 0 50px;
}

.form-group {
  margin-top: 20px;
}

.form-label {
  font-weight: 600;
}

.form-input {
  display: block;
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 100%;
  line-height: 2.5;
  padding: 0 10px;
  margin-top: 3px;
  font-size: 0.9rem;
  transition: .3s;
}

.form-input:focus {
  outline: none;
  border-color: #03d7ff;
  box-shadow: 0 0 0 .3rem rgba(13, 110, 253, 0.25);
}

/* フォームバリデーション */
.invalid {
  border-color: #dc3545;
}
.invalid:focus {
  outline: none;
  border-color: #dc3545;
  box-shadow: 0 0 0 .3rem rgba(220, 53, 69, 0.25);
}
.invalid-message {
  color: #dc3545;
  margin-top: 3px;
  font-size: 0.8rem;
}
/* ---------------------------------------------- */

.login-btn {
  display: block;
  width: 100%;
  margin-top: 30px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
  letter-spacing: .2rem;
}

.login-btn:hover {
  background-color: #0b5ed7;
  transition: .3s;
}

/* レスポンシブ対応 */
@media (max-width: 800px) {
  .site-title {
    font-size: 2rem;
  }

  .container {
    margin: 0 20px;
  }

  .login-container p {
    font-size: 1rem;
  }

  .alert {
    font-size: 0.8rem;
    margin: 10px 50px 0;
  }

  /* ヘッダー部分-------------------------------------- */
  .header {
    flex-direction: column;
    max-width: 800px;
  }

  .header-left {
    flex-direction: column;
  }

  .header-right {
    justify-content: space-between;
  }

  .app-desp {
    width: auto;
    margin: 0 10px;
  }
  
  .user-top h2 {
    margin-bottom: 10px;
  }
}