# クライアントアプリケーション（mysqlコマンドラインなど）が使用するデフォルトの文字セットを指定
[client]
default-character-set=utf8mb4

# mysqlコマンドラインクライアントのデフォルトの文字セットを指定
[mysql]
default-character-set=utf8mb4

# サーバーのデフォルトの文字セットと照合順序を設定
# character-set-server: サーバーのデフォルトの文字セット
[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci